* {
    BG:    #282c34ff;
    BGA:   #304D75ff;
    FG:    #bbc2cfff;
    FGA:   #ff9e54ff;
    BDR:   #304D75ff;
    SEL:   #ff9e54ff;
    UGT:   #ff6c6bff;
    IMG:   #98be65ff;
    OFF:   #5b6268ff;
    ON:    #98be65ff;
}
